.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: #4d4d4d;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #000000;
  width: 30px;
  border-radius: 10px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 3px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom,8px);
  top: var(--swiper-pagination-top,auto);
  left: 0;
  height: 10px;
  width: 100%;
  top: 400px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.brown{
  background-color: #46240a;
}

.blue{
  background-color: #0744c7;
}

.red{
  background-color: #8f0707;
}
